<section class="about">
    <ul class="about__socials">
        {% for social in craft.entries().section('socials') %}
            <li class="about__social">
                <a href="{{ social.externalLink }}">
                    {{ svg(social.image.one()) }}
                    <span class="about__social-name">
                    {{ social.title }}
                </span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <p class="about__address">
        <strong>{{ translations.navigation.addressName }}</strong>
        <br>{{ translations.navigation.addressStreet }}
        <br>{{ translations.navigation.addressCity }}
    </p>
</section>