<footer class="footer">
    <section class="footer__connect container">
        {% include 'components/_image' with {
            image: branding.logoText.one(),
            classes: "footer__form-logo"
        } %}
        <form action="" class="footer__connect-form-frame">
            <p class="footer__connect-title">{{ translations.connectForm.formTitle }}</p>
            <article class="footer__connect-form">
                <label>
                    {{ translations.connectForm.email }}*
                    <input type="email" placeholder="{{ translations.connectForm.emailExample }}">
                </label>

                <label>
                    {{ translations.connectForm.zipCode }}
                    <input type="text" placeholder="{{ translations.connectForm.zipCodeExample }}">
                </label>
                <button type="submit">{{ translations.connectForm.submit }}</button>
                <span>
                <a
                        class="footer__connect-mobile link"
                        href="/"
                >
                    {{ translations.connectForm.mobileNotification }}
                </a>
            </span>
        </form>
    </section>
    <section class="footer__container container">
        <ul class="footer__pages">
            {% set pagesMain = craft.entries().section('pages').level(1).includedInMainMenu(1).secondaryPage(0) %}
            {% set pagesExtra = craft.entries().section('pages').level("not 1").includedInMainMenu(1).overwriteLevelDepth(1).secondaryPage(0) %}
            {% set pages = pagesMain | merge(pagesExtra) %}
            {% for page in pages %}
                <li><a class="footer__page" href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}


            {# Languages #}
            {% include 'components/_navSites' with {
                classes: "footer__page"
            } %}
        </ul>
        <section class="footer__about">
            {% include 'components/_about' %}
            {% include "components/branding/_logoMiniText" %}
        </section>
    </section>
    <div class="footer__background"></div>
</footer>
